img {
    float: left;
    margin-right: 20px;
}

#pic{
    overflow: hidden;
    height: 300px;
    line-height: 2;
}

#thePerimeterDiv, #theAreaDiv  {
    overflow: hidden;

}

#theVolumeDiv, #siteSettings, #footer {
    clear: both;
}

/* default site settings */

#body {
    background-color: rgb(240, 203, 133);
}

#copyright {
    background-color: rgb(92, 163, 205);
}

#h1 {
    background-color: white;
}

#pic {
    background-color: rgb(92, 163, 205);

}

#projects {
    background-color: rgb(92, 163, 205);
}

#button1, #button2, #button3 {
    background-color: white; 
    color: black;
}